:root {
  font-size: 16px;
}

body {
  height: 100%;
}

main {
  margin: 0 auto;
  padding: 30px 30px 0px 0px;
  box-shadow: 0 0 10px 0 lightgray;
  text-align: center;
  background-color: rgb(30, 193, 33);
  height: 650px;
}

#header ul {
  display: flex;
  justify-content: space-between;
}

#header {
  margin-bottom: 20px;
}

#screen {
  display: flex;
}

#output {
  flex-grow: 1;
}

#line {
  margin: 0 auto;
  background-image: url("/js03-dist/project/imgs/line_screenshot.png");
  background-repeat: no-repeat;
  resize: none;
  width: 300px;
  height: 445px;
  padding-top: 50px;
  padding-bottom: 40px;
}

#scroll {
  /* margin: 0 auto; */
  width: 250px;
  height: 445px;
  text-align: right;
  padding-right: 10px;
  padding-left: 40px;
  overflow: auto;
  overflow-wrap: break-word;
}

#scroll p {
  border: solid 0.5px white;
  background-color: white;
  border-radius: 5px;
  /* display:inline-block; */
}

#input {
  flex-grow: 1;
}

#text {
  width: 300px;
  height: 250px;
}

#stamps {
  /* display: flex; */
  margin: 0 auto;
  width: 300px;
  background-color: white;
  padding-top: 5px;
}

button#send,
#remove {
  padding: 5px 10px;
  background-color: royalblue;
  color: white;
  border-style: none;
  margin-bottom: 20px;
}

/* button#remove {
  background-color: firebrick;
} */